In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [13]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

MergeError: Must pass "right_on" OR "right_index".

In [3]:
# Convert categorical data to numeric and separate target feature for training data
train_get_df = pd.get_dummies(train_df, dummy_na=True)
train_get_df

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,initial_list_status_nan,application_type_Individual,application_type_Joint App,application_type_nan,hardship_flag_N,hardship_flag_Y,hardship_flag_nan,debt_settlement_flag_N,debt_settlement_flag_Y,debt_settlement_flag_nan
0,57107,57107,13375.0,0.1797,483.34,223000.0,29.99,0.0,0.0,15.0,...,0,1,0,0,1,0,0,1,0,0
1,141451,141451,21000.0,0.1308,478.68,123000.0,11.26,2.0,0.0,16.0,...,0,1,0,0,1,0,0,1,0,0
2,321143,321143,20000.0,0.1240,448.95,197000.0,11.28,0.0,0.0,12.0,...,0,1,0,0,1,0,0,1,0,0
3,11778,11778,3000.0,0.1240,100.22,45000.0,18.08,0.0,0.0,12.0,...,0,1,0,0,1,0,0,1,0,0
4,169382,169382,30000.0,0.1612,1056.49,133000.0,27.77,0.0,2.0,13.0,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,354912,354912,19975.0,0.2565,801.09,28000.0,28.42,0.0,0.0,15.0,...,0,1,0,0,1,0,0,1,0,0
12176,354944,354944,15000.0,0.1774,540.34,50000.0,23.43,4.0,0.0,16.0,...,0,1,0,0,1,0,0,1,0,0
12177,354973,354973,3600.0,0.1862,131.28,60000.0,28.80,0.0,1.0,14.0,...,0,1,0,0,1,0,0,1,0,0
12178,355002,355002,15000.0,0.0881,475.68,62000.0,11.44,0.0,0.0,5.0,...,0,0,1,0,1,0,0,1,0,0
12179,355307,355307,15000.0,0.1774,540.34,54080.0,21.66,1.0,1.0,5.0,...,0,1,0,0,1,0,0,1,0,0

In [4]:
# Convert categorical data to numeric and separate target feature for testing data
test_get_df = pd.get_dummies(test_df, dummy_na=True)
test_get_df

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,initial_list_status_w,initial_list_status_nan,application_type_Individual,application_type_Joint App,application_type_nan,hardship_flag_N,hardship_flag_Y,hardship_flag_nan,debt_settlement_flag_N,debt_settlement_flag_nan
0,67991,67991,40000.0,0.0819,814.70,140000.0,19.75,0.0,1.0,18.0,...,1,0,1,0,0,1,0,0,1,0
1,25429,25429,6000.0,0.1524,208.70,55000.0,11.52,2.0,0.0,8.0,...,1,0,1,0,0,1,0,0,1,0
2,38496,38496,3600.0,0.1695,128.27,42000.0,6.74,0.0,0.0,6.0,...,1,0,1,0,0,1,0,0,1,0
3,19667,19667,20000.0,0.1524,478.33,100000.0,12.13,0.0,2.0,7.0,...,1,0,1,0,0,1,0,0,1,0
4,37505,37505,3600.0,0.1240,120.27,50000.0,16.08,0.0,3.0,6.0,...,1,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,77282,77282,30000.0,0.1240,673.42,140480.0,15.74,0.0,0.0,20.0,...,0,0,1,0,0,1,0,0,1,0
4698,77291,77291,24000.0,0.0756,747.22,50000.0,26.81,0.0,0.0,9.0,...,1,0,1,0,0,1,0,0,1,0
4699,77292,77292,10000.0,0.2305,387.36,33000.0,38.51,0.0,2.0,7.0,...,0,0,1,0,0,1,0,0,1,0
4700,77297,77297,8000.0,0.1862,205.86,38000.0,16.36,0.0,1.0,8.0,...,1,0,1,0,0,1,0,0,1,0
4701,77304,77304,30000.0,0.2055,1123.34,180000.0,12.06,0.0,0.0,8.0,...,0,0,1,0,0,1,0,0,1,0

In [9]:
# add missing dummy variables to testing set
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
test_get_df = imputer.fit_transform(test_get_df)
test_get_df

array([[6.7991e+04, 6.7991e+04, 4.0000e+04, ..., 0.0000e+00, 1.0000e+00,
        0.0000e+00],
       [2.5429e+04, 2.5429e+04, 6.0000e+03, ..., 0.0000e+00, 1.0000e+00,
        0.0000e+00],
       [3.8496e+04, 3.8496e+04, 3.6000e+03, ..., 0.0000e+00, 1.0000e+00,
        0.0000e+00],
       ...,
       [7.7292e+04, 7.7292e+04, 1.0000e+04, ..., 0.0000e+00, 1.0000e+00,
        0.0000e+00],
       [7.7297e+04, 7.7297e+04, 8.0000e+03, ..., 0.0000e+00, 1.0000e+00,
        0.0000e+00],
       [7.7304e+04, 7.7304e+04, 3.0000e+04, ..., 0.0000e+00, 1.0000e+00,
        0.0000e+00]])

In [14]:
# Train the Logistic Regression model on the unscaled data and print the model score

from sklearn.model_selection import train_test_split

merged_df = train_get_df.merge(test_get_df, left_on='index')

X = df.drop(['0', '1', '2', '3', '4', '5', 'X', 'C'], axis=1)
y = df[['0', '1', '2', '3', '4', '5', 'X', 'C']]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

TypeError: Can only merge Series or DataFrame objects, a <class 'numpy.ndarray'> was passed

In [ ]:
# Train a Random Forest Classifier model and print the model score

In [ ]:
# Scale the data

In [ ]:
# Train the Logistic Regression model on the scaled data and print the model score

In [ ]:
# Train a Random Forest Classifier model on the scaled data and print the model score